@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{box-sizing: border-box;
font-family: 'Oswald', sans-serif;
font-size: 1.3rem;
}
/*video header*/
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  .banner1{
 padding-top: 70px;
 padding-bottom: 70px; 
 max-width: 1200px;
 font-family:'Courier New', Courier, monospace
}

h1{
  font-family: 'Oswald', sans-serif;
}

html{
  font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
}

/*Good ratings*/
.container1 {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* For Blog*/

    html,
    body,
    header,
    .jarallax {
      height: 600px;
      min-height: 600px;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .jarallax {
        height: 100%;
        min-height: 100%;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .jarallax {
        height: 100%;
        min-height: 100%;
      }
    }

    @media (min-width: 1020px) and (max-width: 1500px) {

      html,
      body,
      header,
      .jarallax {
        height: 460px;
        min-height: 460px;
      }
    }

    /*For contact us*/
        body {
      background-color: #eee;
    }
    .map-container-section {
      overflow: hidden;
      position: relative;
      height: 0;
    }
    .map-container-section iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }

